/* Tag Styling */

body {
    margin: auto;
    text-align: center; 
}

h1 {
    margin: 20px auto;
    text-align: center;
}

button {
    padding: 50px;
    margin: 25px 50px;
    border: 1px solid white;
    border-radius: 50px;
}

button:focus {
    outline: 0;
}

 main {
     width: 100%;
     margin: 0px 5%;
 }

/* Class Styling */

.column {
    border: 2px solid darkgrey;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    padding: 20px;
    margin: 10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}

.row-2 {
    margin: 20px -15px;
    border: 2px solid darkgrey;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    text-align: center;
}

/* ID Styling */



#gem1 {
    background-image: url("../images/bluegem.jpeg");
    background-size: cover;
}

#gem2 {
    background-image: url("../images/greengem.jpeg");
    background-size: cover;
}

#gem3 {
    background-image: url("../images/yellowgem.jpeg");
    background-size: cover;
}

#gem4 {
    background-image: url("../images/redgem.jpeg");
    background-size: cover;
}

#gem1 #gem2 #gem3 #gem4 {
    border: none;
}

#currentScore {
    margin: auto;
}

#currentGoal {
    padding: 10px auto 5px;
    margin: auto;
    font-size: 60px;
}

/* Rotate Styling - the .js file will change class names on click to activate these transormations */
@keyframes stage1 {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(90deg)}
}

@keyframes stage2 {
    0% {transform: rotate(90deg)}
    100% {transform: rotate(180deg)}
}

@keyframes stage3 {
    0% {transform: rotate(180deg)}
    100% {transform: rotate(270deg)}
}

@keyframes stage4 {
    0% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}

.gem90 {
    animation-name: stage1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.gem180 {
    animation-name: stage2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.gem270 {
    animation-name: stage3;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.gem0 {
    animation-name: stage4;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}



